<div class="w3-row" id="itemGridss" style="position: relative;">
  {{#each pics}}
      <div class="halfgrid box" id="grid">
        <div class="w3-display-container img-responsive" style="width:100%;">
          <a href="http://100.83.14.1:8080{{dir}}"><img class="itemImg" id={{dir}} src="{{dir}}{{picture}}" style="width:100%;"></a>
            
        </div>
          <!-- <button type="button" class="w3-btn-floating w3-teal" style="z-index: 0; display:none;" onclick="add_to_chart()">+</button> -->
      </div>
  {{/each}}

</div>




<script type="text/javascript">
window.onload=function(){
 
      if(screen.width >= 500){
        // fixHeight();
        waterfall('itemGridss','halfgrid box');
      }
    }

function waterfall(parent,pin){
    var oParent=document.getElementById(parent);// 父级对象
    var aPin=getChildren(oParent,pin);// 获取存储块框pin的数组aPin
    var iPinW=aPin[0].offsetWidth;// 一个块框pin的宽
    var num=2;//每行中能容纳的pin个数【窗口宽度除以一个块框宽度】
    // oParent.style.cssText=2width:'+iPinW*num+'px;ma rgin:0 auto;';//设置父级居中样式：定宽+自动水平外边距
    console.log(aPin.length);
    var pinHArr=[];//用于存储 每列中的所有块框相加的高度。
    for(var i=0;i<aPin.length;i++){//遍历数组aPin的每个块框元素
        var pinH=aPin[i].offsetHeight;
        if(i<num){
            pinHArr[i]=pinH; //第一行中的num个块框pin 先添加进数组pinHArr
        }else{
            var minH=Math.min.apply(null,pinHArr);//数组pinHArr中的最小值minH
            console.log("minh:",minH);
            var minHIndex=getMinIndex(pinHArr,minH);
            aPin[i].style.position='absolute';//设置绝对位移
            aPin[i].style.top=minH+'px';
            aPin[i].style.left=aPin[minHIndex].offsetLeft+'px';
            //数组 最小高元素的高 + 添加上的aPin[i]块框高
            pinHArr[minHIndex] += aPin[i].offsetHeight;//更新添加了块框后的列高
            console.log(aPin[i].style.top);
        }
        console.log(i," updated, ",pinHArr);
    }
    console.log(document.getElementById('itemGridss').offsetHeight);
    document.getElementById('itemGridss').style.height = Math.max.apply(null, pinHArr)+'px';
    // var bot = document.getElementById("fooo");
    // var maxh = Math.max.apply(null, aPin);
    // bot.style.position = 'relative';
    // bot.style.top = maxh + 'px';
}

function getMinIndex(arr, val){
  console.log(arr);
  for(var i in arr){
    if(arr[i] == val){
      console.log(i);
      return i;
    }
  }
}

function getChildren(parent, child){
    var obj=parent.getElementsByTagName('*');//获取 父级的所有子集
    var pinS=[];//创建一个数组 用于收集子元素
    for (var i=0;i<obj.length;i++) {//遍历子元素、判断类别、压入数组
        if (obj[i].className==child){
            pinS.push(obj[i]);
        }
    }
    return pinS;
}
</script>